<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myhackaton">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBQzqzQO9nhUBfbLHfJbWOfM2d59Fm-6TU" />
        <!--
<meta-data
          android:name="com.google.android.geo.API_KEY"
           android:value="AIzaSyBQzqzQO9nhUBfbLHfJbWOfM2d59Fm-6TU" />
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".SecondFragmentActivity" />
        <activity android:name=".FirstFragmentActivity" />
        <activity android:name=".activity.AlarmActivity" />
        <activity android:name=".TestPagerAdapter" />
        <activity android:name=".activity.MypageActivity" />
        <activity android:name=".activity.DetailActivity" />
        <activity android:name=".activity.Guest_joinActivity" />
        <activity android:name=".activity.Guest_mainActivity" />
        <activity android:name=".activity.FoodregisterActivity" />
        <activity android:name=".activity.FoodViewerActivity" />
        <activity android:name=".activity.Host_mainActivity" />
        <activity android:name=".activity.Host_joinActivity" />
        <activity android:name=".activity.Login_mainActivity" />
        <activity android:name=".activity.FriendActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.CategoryCheckActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".categorycheckActivity" />
        <activity android:name=".activity.PlusActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.MainActivity"/>
    </application>

</manifest>